h2 {
  margin-top: 3em;
}
h3 {
  margin-top: 2em;
}
.helppage-admin ul {
  list-style-type: none;
}
li {
  margin-bottom: 1em;
}
input[type=checkbox] {
  margin-right: .5em;
}
ul input[type=checkbox] {
  margin-left: -1.5em;
}

code {
  border: 1px solid lightgrey;
  padding: 2px;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.1);
  -webkit-user-select: all;  -moz-user-select: all;  -ms-user-select: all;  user-select: all;
}
